html {
    height: 100%;
}

body {
    min-height: 100%;
    text-align: center;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}
 

h1 {
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 1.8rem;
    color: hsl(223, 47%, 23%);
} 

h2 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 0.95rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
 
p {
  margin: 0;
  color: hsl(224, 23%, 55%);
}

.main-container {
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 25px;
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
    box-shadow: 0px 12px 30px #CFBCF7;
}

.img-hero {
    max-width: 100%;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-checkout {
    display: block;
    color: white;
    background-color: hsl(245, 75%, 52%);
    text-decoration: none;
    padding: 18px;
    margin: 0 47px 15px;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 900;
    /* box-shadow: 0px 20px 20px hsl(225, 100%, 94%); */
    box-shadow: 0px 12px 30px #CFBCF7;
}

.btn-checkout:hover {
    background-color: #6768e9;
}

.btn-cancel {
    display: inline-block;
    color: gray;
    font-weight: 700;
    text-decoration: none;
    margin: 18px 40px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
    
}

.btn-cancel:hover{
    color: hsl(223, 47%, 23%);
}

.description {
    width: 350px;
    margin: 0 auto;
    
}



.plan-details {
    position: relative;
    text-align: left;
    background-color: hsl(225, 100%, 98%);
    margin: 25px 47px 30px;
    border-radius: 10px;
    padding: 28px 20px;
}

.icon-music {
    float: left;
    margin-right: 20px;
}


.change {
    position: absolute;
    top: 40px;
    right: 20px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 0.9rem;
}

.change:hover {
    color: #6768e9;
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 25px;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

@media only screen and (max-width:400px){
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }

    .plan-details{
        margin: 25px 30px 30px;
    }

    .btn-checkout{
        margin-left: 30px;
        margin-right: 30px;
    }
}


